@charset "utf-8"
/*去除默认样式*/
html,body,header,nav,main,footer,div,p,a,span,ul,ol,li,dt,dd,
table,thead,tbody,tfoot,th,td,form,select,option,button,input,
label,em,i,canvas,dialog,h1,h2,h3,h4,h5,h6,img,mark,textarea,video,
audio,br,hr,b,code,link{
	padding: 0;
	margin: 0;
}
input,button{
	outline: none;
}
ul,ol,dl,dt,dd{
	list-style: none;
}
/*设置相对大小*/
html,body{
	margin: 0;
	font-size: 62.5%;
	font-family:"Helvetica Neue",Helvetica, "microsoft yahei", arial, STHeiTi, sans-serif;
}
/*清除浮动*/
.clearfix:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
/* .clearfix{
	*+height: 1%;
} */
/*Vue初始化显示*/
[v-cloak]{
	display: none
}